<h1>Don't know your password?</h1>

<h2>Solution 1</h2>
<p>
    You can ask your school administrator to give you your WebUntis password.
</p>

<h2>Solution 2</h2>
<p>You can implement WebUntis QR-code authentication into this website your self.</p>
<p>
    Here the link for the related
    <a
        href="https://github.com/dein-ding/webuntis-utils/issues/18"
        target="_blank"
        class="text-untis underline hover:text-opacity-80"
        >GitHub issue: https://github.com/dein-ding/webuntis-utils/issues/18</a
    >
</p>
<h3>This <span class="underline">would</span> enable the following login workflows:</h3>

<ol>
    <li>Go to the webuntis dashboard</li>
    <li>
        Click on your username
        <img src="../../../../assets/screenhots/click-on-username.png" alt="" />
    </li>
    <li>
        Switch to the next tab
        <img src="../../../../assets/screenhots/switch-tab.png" alt="" />
    </li>
    <li>
        Click this button to reveal the data
        <img src="../../../../assets/screenhots/open-modal.png" alt="" />
    </li>
    <li>Do one of the following:
        <ul>
            <li>
                Scan the QR-Code and copy the decoded string into the input box,
                which would show up here.
            </li>
            <li>
                Copy/Paste all the data manually into the form that would show
                up here.
            </li>
        </ul>
        
        <img src="../../../../assets/screenhots/opened-modal.png" alt="" />
    </li>
</ol>
