<main class="h-screen w-screen flex flex-col justify-center items-center">
    <div>
        <h1>Login</h1>
        <form
            *ngIf="userData; else fullLoginForm"
            (submit)="$event.preventDefault(); onSubmit(passwordInput.value)"
            class="w-72 flex flex-col gap-2"
        >
            <p>
                with <span class="text-untis">{{ userData.username }}</span>
            </p>
            <input #passwordInput type="password" placeholder="Password" />
            <button class="button mt-2 w-full bg-untis">Login</button>

            <button
                class="text-gray-400 hover:text-untis hover:underline mx-auto"
                (click)="clearState()"
            >
                Switch account
            </button>
        </form>
        <ng-template #fullLoginForm>
            <form
                (submit)="
                    $event.preventDefault();
                    onSubmit({
                        username: usernameInput.value,
                        password: passwordInput.value,
                        school: schoolInput.value,
                        serverUrl: serverUrlInput.value
                    })
                "
                class="w-72 flex flex-col gap-2"
            >
                <input #usernameInput type="text" placeholder="Username" />
                <input #passwordInput type="password" placeholder="Password" />

                <input
                    #schoolInput
                    type="text"
                    placeholder="School"
                    list="schools"
                    [value]="autoComplete.schools[0]"
                />
                <datalist id="schools">
                    <option
                        *ngFor="let schoolName of autoComplete.schools"
                        [value]="schoolName"
                    ></option>
                </datalist>

                <input
                    #serverUrlInput
                    type="text"
                    placeholder="Server URL"
                    list="servers"
                    [value]="autoComplete.servers[0]"
                />
                <datalist id="servers">
                    <option
                        *ngFor="let serverUrl of autoComplete.servers"
                        [value]="serverUrl"
                    ></option>
                </datalist>

                <button class="button mt-2 w-full bg-untis">Login</button>

                <a
                    routerLink="/login/qr-code"
                    class="text-gray-400 hover:text-untis hover:underline mx-auto"
                    ><i class="far fa-question-circle"></i> I don't know my
                    password</a
                >
            </form>
        </ng-template>
    </div>
</main>
