<div class="flex gap-4 justify-start items-center">
    <h1>
        Dashboard <span class="text-gray-500">for {{ username$ | async }}</span>
    </h1>
    <button
        class="text-gray-400 hover:text-untis hover:underline mt-3"
        (click)="clearState()"
    >
        Switch account
    </button>
</div>

<div class="flex gap-4 items-center mb-4">
    <div class="tab-switch">
        <a
            class="button inline-block bg-gray-600 rounded-r-none"
            routerLink="subjects"
            routerLinkActive="bg-untis"
            >Subject digest</a
        >
        <a
            class="button inline-block bg-gray-600 rounded-l-none"
            routerLink="absences"
            routerLinkActive="bg-untis"
            >Absences</a
        >
    </div>
    
    <div class="date-range">
        <i class="fad fa-calendar mr-0.5"></i>
        {{ (dateRange$ | async)?.startDate | date }} - {{ (dateRange$ | async)?.endDate | date }}
    </div>
</div>

<!-- @TODO: #8 add reload button -->
<p
    class="loading | flex justify-center items-center"
    *ngIf="isLoading$ | async"
    style="height: 70vh"
>
    <i class="fad fa-spinner-third animate-spin text-9xl"></i>
</p>

<router-outlet *ngIf="!(isLoading$ | async)"></router-outlet>

<!-- <main class="h-screen w-screen flex flex-col justify-center items-center"> -->

<!-- <div class="subjects | grid grid-cols-2 gap-3 max-w-5xl">
        <div
            *ngFor="let subject of subjects$ | async"
            class="subject | relative text-gray-900 py-2 px-3 flex flex-col justify-center items-center rounded-xl"
            style="--width: {{ subject.presenceInPercent }}%;"
        >
            <span class="font-bold">{{ subject.subjectId }}</span>
            <span>
                {{ subject.presenceInPercent }} % Present
                <span>{{
                    subject.lessonsAbsent
                        ? "- Absent lessons: " + subject.lessonsAbsent
                        : ""
                }}</span>
            </span>
        </div>
    </div> -->
<!-- </main> -->
