<main class="h-screen w-screen flex flex-col justify-center items-center">
    <h1>Dashboard <span class="text-gray-500">for {{ username$ | async}}</span></h1>
    <!-- @TODO: #8 add loading state -->
    <!-- @TODO: #8 add reload button -->
    <div class="subjects | grid grid-cols-2 gap-3 max-w-5xl">
        <div
            *ngFor="let subject of subjects$ | async"
            class="subject | relative text-gray-900 py-2 px-3 flex flex-col justify-center items-center rounded-xl"
            style="--width: {{ subject.presenceInPercent }}%;"
        >
            <span class="font-bold">{{ subject.subjectId }}</span>
            <span>
                {{ subject.presenceInPercent }} % Present
                <span>{{
                    subject.lessonsAbsent
                        ? "- Absent lessons: " + subject.lessonsAbsent
                        : ""
                }}</span>
            </span>
        </div>
    </div>
    <button class="text-gray-400 hover:text-untis hover:underline mt-3 mx-auto" (click)="clearState()">Switch account</button>
</main>
